.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.developerContacts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-right: 10px;
}

.developerName {
  font-weight: 700;
}

.link {
  color: inherit;

  &:focus,
  &:hover {
    color: green;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
